.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table td,
.table th {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.table tbody tr:nth-child(odd) th,
.table tbody tr:nth-child(odd) td {
  background: #d8f0db;
}

.table tbody tr:nth-child(even) th,
.table tbody tr:nth-child(even) td {
  background: #bfd9b8;
}

.table th.red {
  background: #e22923;
}

.table th.yellow {
  background: #e4bd1d;
}

.table th.blue {
  background: #0653cc;
}

.table th.white {
  background: #fafaff;
}

.table th.purple {
  background: #803e9c;
}

.table th.grey {
  background: #353434;
}

.table th.pink {
  background: #d526a4;
}

.table td.status {
  cursor: pointer;
}

.table tbody tr:nth-child(even) td.invalid,
.table tbody tr:nth-child(odd) td.invalid {
  background: black;
}
